.menu-transition {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.menu-open {
    max-height: 500px;
}

h1, h2, p, #botao-historias, #botao-celebracoes, #btnPix{
    font-family: 'Julius Sans One', sans-serif;
}

.definicao p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: oklch(14.5% 0 0);
}

.fade {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

.fade-hidden {
    opacity: 0.7;
}

#menu-btn.open span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
#menu-btn.open span:nth-child(2) {
opacity: 0;
}
#menu-btn.open span:nth-child(3) {
transform: translateY(-12px) rotate(-45deg);
}

#menu-btn span {
transition: all 0.7s ease;
}