<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Igreja Santa Teresinha</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script src="../scripts.js" defer></script>
</head>
<body>
    
    <footer class="bottom-0 left-0 pt-7 pb-7 mt-8 bg-red-950 min-w-full max-w-full overflow-hidden break-all ">
        <div class="flex flex-col mr-2 xl:flex-row xl:justify-center xl:mx-10 xl:gap-20 2xl:gap-56 ml-4 items-start gap-2">

            <div class="flex flex-col justify-start">
                <h1 class="font-bold text-white text-2xl mb-2">Secretaria</h1>
    
                <div class="flex flex-col gap-1 xl:gap-2">
                    <a href="https://wa.me/5531998461680" target="_blank" class="gap-1 flex items-center">
                    <img src="../imgs/icons/icons8-whatsapp-64.png" alt="" class="w-8">
                    <h2 class="text-white text-base xl:text-lg">(31) 99846-1680</h2>
                    </a>
        
                    <div id="Telefone" class="gap-1 flex items-center">
                    <img src="../imgs/icons/icons8-telefone-50.png" alt="" class="w-8">
                    <h2 class="text-white text-base xl:text-lg">(31) 3636-3417</h2>
                    </div>
        
                    <div id="email" class="gap-1 flex items-center justify-center">
                    <img src="../imgs/icons/icons8-email-50.png" alt="" class="w-7 mr-1">
                    <h2 class="text-white text-base xl:text-lg">pstmeninojesus@yahoo.com</h2>
                    </div>
                </div>
            </div>

            <div class="flex flex-col">
                <h1 class="mt-5 xl:mt-0 font-bold text-white text-2xl mb-2">Endereço</h1>
                <p id="endereco" class="text-white text-base xl:text-lg">R. Alemanha, 219 - Baronesa, Santa Luzia - MG</p>
            </div>


            <div class="flex flex-col">
                <h1 class="mt-5 xl:mt-0 font-bold text-white text-2xl mb-2">Redes Sociais</h1>
    
                <a href="https://www.instagram.com/igrejasantateresinhamj/" target="_blank">
                <img src="../imgs/icons/icons8-instagram-64.png" alt="" class="w-8">
                </a>
            </div>
        </div>
  </footer>

</body>
</html>