<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Igreja Santa Teresinha</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script src="../scripts.js" defer></script>
</head>
<body class="bg-white">
  <header class=" z-50 fixed top-0 left-0 w-full bg-red-950/85 lg:bg-red-950/85 text-white py-3">

         <!-- Menu Mobile -->
        <div class="lg:hidden flex justify-between items-center">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="" class="w-44 ml-2">
            </a>
            <button id="menu-btn" class="focus:outline-none text-4xl mr-3 text-white/70 pb-2">
                ☰
            </button>
        </div>
        
        <!-- Menu Mobile -->
        <div id="mobile-menu" style="font-family: 'Julius Sans One', sans-serif;" class="lg:hidden mt-3 absolute text-xl bg-red-900/90 menu-transition flex-col text-white w-full">
            <div class="flex flex-col">
                <a href="index.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Início</a>
                <a href="avisos.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Avisos Paroquiais</a>
                <a href="celebracoes.html" class="px-4 py-3 border-b-2 border-red-700">Horário das Celebrações</a>
                <a href="confissao.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Confissão</a>
                <a href="batismo.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Batismo</a>
                <a href="crisma.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Crisma</a>
                <a href="santa-teresinha.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Santa Teresinha</a>
                <a href="doacao.html" class="px-4 py-3 hover:bg-red-500 border-b-2 border-red-700">Doação</a>
                <a href="contatos.html" class="px-4 py-3 hover:bg-red-500 border-red-700">Contatos</a>
            </div>
        </div>

        <!-- Menu PC -->
        <div class="hidden lg:flex items-center justify-center text-white/80 gap-7">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="" class="w-44 xl:w-48 2xl:w-52">
            </a>

            <div class="flex gap-5 xl:gap-9 2xl:gap-12">
                <a href="celebracoes.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Celebrações</p>
                </a>
    
                <a href="avisos.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Avisos</p>
                </a>

                <a href="confissao.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Confissão</p>
                </a>
    
                <a href="batismo.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Batismo</p>
                </a>
    
                <a href="crisma.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Crisma</p>
                </a>
    
    
                <a href="teresinha.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Teresinha</p>
                </a>
    
                <a href="doacao.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Doação</p>
                </a>
    
                <a href="contatos.html">
                    <p class="hover:border-red-500 hover:font-bold text-base xl:text-lg 2xl:text-xl border-b-2 border-green-900">Contatos</p>
                </a>
            </div>
        </div>
    </header>
    
</body>
</html>